* {
	padding: 0;
	margin: 0;
	font-family: -apple-system, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color:black; 
   
}
#clock{
    margin-top:25px;
    padding:1rem;
    box-shadow: 1px 0px 2px 2px;
    border:none;
    outline:none;
}